<mat-card>
  <div class="avatar">
  </div>
  <div class="name">
    <h2 class="name-header">{{user.username}}</h2>
    <div style="display: flex">
      <div class="interest" *ngFor="let interest of user.interestGroups">{{interest.groupName}}</div>
    </div>
  </div>
</mat-card>

<mat-card style="display: block">

  <h2>Komentáře</h2>

  <div *ngIf="comments.length == 0">
    <i>Nebyly nalezeny žádné komentáře</i>
  </div>

  <div class="comment" *ngFor="let comment of comments">
    <div class="comment-avatar">
    </div>
    <div class="comment-body">
      <p class="comment-header">Uživatel <b>{{comment.author}}</b> napsal komentář:</p>
      <p>
        {{comment.content}}
      </p>
    </div>
  </div>

  <div *ngIf="isLoggedIn">
    <h2 style="padding-top: 30px">Napsat komentář</h2>

    <form [formGroup]="addCommentForm" (ngSubmit)="addComment()" class="form">

      <mat-form-field class="form-element" appearance="outline">
        <mat-label for="author">Autor</mat-label>
        <input matInput type="text" id="author" placeholder="Autor" formControlName="author">
      </mat-form-field>

      <mat-form-field class="form-element" appearance="outline">
        <mat-label for="content">Komentář</mat-label>
        <input matInput type="text" id="content" formControlName="content">
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" type="submit" class="form-element">Okomentovat</button>
      </div>

    </form>
  </div>

</mat-card>



