<h2>Nastavení</h2>

<div>
  <h3>Základní informace</h3>
  <div>Přezdívka: {{user.username}}</div>
  <div>Jméno: {{user.firstName}}</div>
  <div>Přijmení: {{user.lastName}}</div>

  <h3>Zájmy</h3>
  <div>Kliknutím na zájem si ho přidáte na profil</div>
  <div *ngFor="let group of groups">
    <button mat-flat-button color="primary" (click)="joinGroup(group.groupId)">{{group.groupName}}</button>
  </div>
</div>

<div>
  <button mat-raised-button color="warn" class="form-element" mat-dialog-close>Zavřít</button>
</div>
