<mat-sidenav-container>

  <mat-sidenav mode="side" opened fixedInViewport fixedTopGap="64">

    <div class="sidenav-line">
      <h3>Filtrování</h3>
      <mat-form-field appearance="outline">
        <mat-label>Název předmětu</mat-label>
        <input matInput [(ngModel)]="filterText" type="text" placeholder="hledat...">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Kategorie</mat-label>
        <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="valueChanged()">
          <mat-option *ngFor="let category of enumKeys" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox
        color="primary"
        [(ngModel)]="checkedIsForOffer"
        (ngModelChange)="filterChange()">
        Zobrazit aktuální nabídky
      </mat-checkbox>

      <a mat-flat-button color="accent" (click)="resetSearch()">Vymazat filtry</a>

    </div>

    <div>
      <a mat-flat-button color="primary" (click)="addItem()">Přidat předmět</a>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="pageSlice.length == 0">
      <i>Nebyly nalezeny žádné předměty</i>
    </div>

    <table mat-table [dataSource]="pageSlice" (contentChanged)="items" *ngIf="pageSlice.length > 0">
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef>Název</th>
        <td mat-cell *matCellDef="let item">{{item.itemName}}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Kategorie</th>
        <td mat-cell *matCellDef="let item">{{item.category}}</td>
      </ng-container>
      <ng-container matColumnDef="itemDescription">
        <th mat-header-cell *matHeaderCellDef>Popis</th>
        <td mat-cell *matCellDef="let item">{{item.itemDescription}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="primary" (click)="showItemDetails(item.itemId)" *ngIf="!item.itemOffer">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button class="icon-edit" (click)="editItem(item.itemId)" *ngIf="!item.itemOffer">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDeletion('ITEM', item.itemId)" *ngIf="!item.itemOffer">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button class="icon-sell" (click)="sellItem(item.itemId)" *ngIf="!item.itemOffer">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDeletion('OFFER', item.itemOffer.offerId)"
                  *ngIf="item.itemOffer">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      *ngIf="filteredItems.length != 0"
      [length]="filteredItems.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </mat-sidenav-content>

</mat-sidenav-container>
