mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FAFAFA;
  height: calc(100vh - 64px - 30px);
  overflow: auto;
}

.sidenav-line {
  border-bottom: solid 1px #e7e7e7;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.sidenav-line:hover {
  background-color: #e1e1e1;
}

h3 {
  font-weight: bold;
  margin: 0;
}

table {
  width: 95%;
  display: inline-table;
  text-align: left;
}

.mat-paginator {
  width: 95%;
  display: inline-block;
}

.mat-column-actions {
  width: 180px;
}

.mat-flat-button {
  margin: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.mat-flat-button:hover {
  background-color: #4a2688;
}

.icon-edit {
  color: gray;
}

.mat-icon-button {
  transition: 0.5s;
}

.mat-icon-button:hover {
  background-color: #e0e0e0;
}

.icon-sell {
  color: #0b9d0b;
}
