mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FAFAFA;
  height: calc(100vh - 64px - 30px);
  overflow: auto;
}

.sidenav-line {
  border-bottom: solid 1px #e7e7e7;
  padding: 10px;
  text-align: left;
  transition: 0.3s;
}

.sidenav-line:hover {
  background-color: #e1e1e1;
}

.inline-block {
  display: inline-block;
}

table {
  width: 95%;
  display: inline-table;
  text-align: left;
}


.mat-flat-button {
  margin: 15px;
  border-radius: 50px;
  transition: 0.3s;
}

.mat-flat-button:hover {
  background-color: #4a2688;
}

.action-button {
  margin: 0;
  transition: 0.3s;
}

.action-button:hover {
  background-color: #777777;
  color: white;
}
