.form-element {
  width: 100%;
}

button {
  width: 100%;
  border-radius: 100px;
  padding: 5px;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 15px;
}

button:hover {
  background-color: #4a2688;
}

.btn-close:hover {
  background-color: #c22f25;
}

h2 {
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;
  font-size: 26px;
  margin-left: 10px;
  padding-right: 10px;
  float: left;
}

.icon-close {
  float: right;
  transition: 0.3s;
}

.icon-close:hover{
  color: #c22f25;
  cursor: pointer;
}
