<mat-card class="inline-block">

  <h2>Přidat předmět</h2>

  <form [formGroup]="addItemForm" (ngSubmit)="addItem()" class="form">

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="itemName">Název předmětu</mat-label>
      <input matInput type="text" id="itemName" placeholder="Název předmětu" formControlName="itemName">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="category">Kategorie</mat-label>
      <mat-select id="category" formControlName="category" required>
        <mat-option value="BOOK">Kniha / komiks</mat-option>
        <mat-option value="FIGURINE">Figurka</mat-option>
        <mat-option value="OTHER">Ostatní</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="itemDescription">Popis</mat-label>
      <input matInput id="itemDescription" placeholder="Popis" formControlName="itemDescription">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="form-element">Add item</button>
  </form>
</mat-card>
