<div class="dialog">

  <div mat-dialog-title style="display: inline">
    <h2>{{offer.item.itemName}}</h2>
    <a mat-dialog-close class="icon-close">
      <mat-icon style="font-size: 26px">close</mat-icon>
    </a>
  </div>

  <div mat-dialog-content style="clear: both">

    <div class="offer-details">
      <h3>Prodávající</h3>
      <p>
        <a (click)="openUserPage(offer.item.user)" mat-dialog-close>
          {{offer.item.user.username}}
        </a>
      </p>
      <div *ngIf="offer.description">
        <h3>Popis</h3>
        <p>{{offer.description}}</p>
      </div>

      <h3>Začátek nabídky</h3>
      <p>{{this.startDate}}</p>

      <h3>Konec nabídky</h3>
      <p>{{this.endDate}}</p>

    </div>

    <div class="offer-item-details">
      <h3>Název</h3>
      <p>{{offer.item.itemName}}</p>

      <h3>Kategorie</h3>
      <p>{{offer.item.category}}</p>

      <div *ngIf="offer.item.itemDescription">
        <h3>Popis</h3>
        <p>{{offer.item.itemDescription}}</p>
      </div>

      <div *ngIf="offer.item.manufacturer">
        <h3>Výrobce / nakladatelství</h3>
        <p>{{offer.item.manufacturer}}</p>
      </div>

      <div *ngIf="offer.item.yearOfManufacture > 0">
        <h3>Rok výroby / vydání</h3>
        <p>{{offer.item.yearOfManufacture}}</p>
      </div>

    </div>

    <div>
      <h2>Reagovat na nabídku</h2>

      <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()" class="form">

        <mat-form-field class="form-element" appearance="outline">
          <mat-label for="email">Váš email</mat-label>
          <input matInput type="text" id="email" placeholder="Váš email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
          <mat-label for="content">Obsah</mat-label>
          <textarea matInput id="content" formControlName="content" style="height: 100px"></textarea>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" type="submit" class="form-element">Odeslat</button>
        </div>

      </form>

    </div>

  </div>

</div>

