<h2 mat-dialog-title>Prodat "{{item.itemName}}"</h2>
<div mat-dialog-content>

  <form [formGroup]="sellItemForm" (ngSubmit)="sellItem()" class="form">

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="price">Cena</mat-label>
      <input matInput type="number" id="price" formControlName="price">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="description">Popis</mat-label>
      <input matInput type="text" id="description" formControlName="description">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="startDate">Začátek prodeje</mat-label>
      <input matInput type="datetime-local" id="startDate" formControlName="startDate">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="endDate">Konec prodeje</mat-label>
      <input matInput type="datetime-local" id="endDate" formControlName="endDate">
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" type="submit" class="form-element" mat-dialog-close>Dát na prodej</button>
      <button mat-raised-button color="warn" class="form-element" mat-dialog-close>Zrušit</button>
    </div>

  </form>

</div>
