<mat-card>

  <h2>Registrace</h2>

  <form [formGroup]="addUserForm" (ngSubmit)="addUser()">

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="username">Přezdívka</mat-label>
      <input matInput type="text" id="username" formControlName="username">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="email">Email</mat-label>
      <input matInput type="text" id="email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="password">Heslo</mat-label>
      <input matInput type="password" id="password" formControlName="password">
    </mat-form-field>

    <div style="color: #818181; margin-bottom: 10px">
      <i>nepovinné údaje</i>
    </div>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="firstName">Jméno</mat-label>
      <input matInput type="text" id="firstName" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label for="lastName">Příjmení</mat-label>
      <input matInput type="text" id="lastName" formControlName="lastName">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Zaregistrovat se</button>

  </form>

</mat-card>

