.flexExpand {
  flex: 1 1 auto;
}

.title {
  text-decoration: none;
  color: white;
  font-family: 'Berkshire Swash', cursive;
  font-size: 26px;
  margin-left: 10px;
  padding-right: 10px;
  cursor: default;
}

.nav-button {
  font-size: 16px;
  margin-top: 2px;
  margin-right: 5px;
  border-radius: 50px;
  transition: 0.5s;
}

.nav-button-icon {
  color: white;
  padding: 7px;
  margin-top: 8px;
  transition: 0.5s;
}

.nav-button-icon:hover {
  color: #210f42;
}

.nav-button:hover {
  background-color: #562f9c;
}

.nav-icon {
  color: white;
  margin-top: 7px;
}

.nav-icon:hover {
  background-color: #562f9c;
}

mat-icon {
  margin-top: -4px;
}

